<div class="mt-4">
    {{!-- method : pthuc nào , action : submit ở đâu(URL nào)
    nếu để trông hoặc mặc định => đẩy ra chính URL chứa form --}}
    <form method="post">
        <div class="form-group">
            <label for="search-input">Email address</label>
            <input type="text" class="form-control" id="search-input" name="searchs" placeholder="Enter words .... ">
        </div>
        <div class="form-group">
            <label for="gender-input">Email address</label>
            <select name="gender" id="gender-input" class="form-control">
                <option value="">-- Chọn gt--</option>
                <option value="Male">Nam</option>
                <option value="Female">Nữ</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>